html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  backface-visibility: hidden;
}

.navbar-default {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  background-color: #fff;
  border-bottom: 1px solid #fff;
}
.navbar-default .navbar-nav li a {
  color: #000;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
  color: #ff4600;
}

header {
  height: 100%;
  background-image: url("../images/ladingpage.jpg");
  background-position: center;
  background-size: cover;
}
header .contentH {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
header .contentH h1 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 15px;
  font-size: 100px;
}
header .contentH p {
  font-size: 25px;
  color: #fff;
}
header .contentH input {
  color: #fff;
  background-color: transparent;
  border: 2px solid #ff4600;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
}
header .contentH input:hover, header .contentH input:focus, header .contentH input:active {
  box-shadow: none;
  border-color: #ff4600;
}
header .contentH input::placeholder {
  color: rgba(255, 255, 255, 0.9);
}

.intro {
  padding: 70px 0;
  color: #fff;
  background-color: #ff4600;
  text-align: center;
}

.w-sec {
  padding: 90px 0;
  text-align: center;
}
.w-sec h2 {
  text-align: center;
  font-size: 37px;
  padding: 10px 0;
}
.w-sec p {
  color: #777;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 6px;
}
.w-sec span {
  color: #ff4600;
}

.d-sec {
  padding: 70px 0;
  background-color: #222;
  text-align: center;
}
.d-sec h2 {
  font-size: 37px;
  padding: 10px 0;
  color: #fff;
}
.d-sec p {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 20px;
}

.cont {
  font-family: "Roboto", sans-serif;
  padding: 40px 0;
  background-color: #ff4600;
  color: #fff;
  text-align: center;
}

.zdj {
  height: 200px;
  text-align: center;
  color: #fff;
  cursor: default;
}
.zdj h3 {
  font-size: 45px;
  display: inline-block;
  line-height: 160px;
  z-index: 2;
}

.zdj-1 {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  background: url(../images/writing.jpg);
  background-size: cover;
  background-position: center;
}

.zdj-2 {
  background: url(../images/concert.jpg);
  background-size: cover;
  background-position: center;
}

.zdj-3 {
  background: url(../images/writing.jpg);
  background-size: cover;
  background-position: center;
}

.fote {
  background-color: #222;
  border-top: 4px solid #ff4600;
}
.fote .about {
  margin-top: 40px;
  text-align: center;
}
.fote .about p {
  margin-top: 30px;
  color: #999;
  font-size: 13px;
}
.fote .about .social-m {
  margin-top: 15px;
}
.fote .about .social-m ul > li > a {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  font-size: 16px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.fote .foot-info {
  margin-top: 10px;
}
.fote .foot-info .title {
  color: #aaa;
  text-transform: uppercase;
  font-size: 16px;
  border-left: 4px solid #ff4600;
  padding-left: 5px;
}
.fote .foot-info ul > li > a {
  display: block;
  color: #aaa;
  text-decoration: none;
  padding: 2px 0;
}
.fote .foot-info ul > li > a span:hover, .fote .foot-info ul > li > a span:focus {
  color: #ff4600;
}
.fote .foot-info p {
  font-size: 13px;
  line-height: 20px;
  color: #aaa;
}

.fb:hover {
  background: #3b5998;
  color: #fff;
  border-color: #3b5998;
}

.ig:hover {
  background: #e95950;
  color: #fff;
  border-color: #e95950;
}

.gplus:hover {
  background: #d34836;
  color: #fff;
  border-color: #d34836;
}

.yt:hover {
  background: #cc181e;
  color: #fff;
  border-color: #cc181e;
}

.stopka {
  background: #111;
  padding: 7px 0;
  color: #999;
}
.stopka p {
  font-size: 16px;
  padding: 10px 0;
  text-align: center;
  margin: 0;
}

.nb-form {
  position: fixed;
  z-index: 9999;
  width: 300px;
  background: #FFF;
  right: 20px;
  bottom: -328px;
  transition: all 0.8s cubic-bezier(0.22, 0.67, 0.43, 1.22) 0.2s;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.nb-form:hover, .nb-form:focus {
  bottom: 0;
}

.nb-form {
  position: fixed;
  z-index: 9999;
  width: 300px;
  background: #FFF;
  right: 20px;
  bottom: -328px;
  transition: all 0.8s cubic-bezier(0.22, 0.67, 0.43, 1.22) 0.2s;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.nb-form:hover {
  bottom: 0;
}

/*-- User Icon --*/
.user-icon {
  opacity: 0;
  position: absolute;
  top: -41px;
  right: 12px;
  height: 58px;
  display: block;
  width: 58px;
  margin: 20px auto 15px;
  border-radius: 50%;
  transition: all 0.6s;
}

.nb-form:hover > .user-icon {
  opacity: 1;
  transition: all 0.7s;
}

/*-- Title --*/
.nb-form .title {
  background: #ff4600;
  font-size: 16px !important;
  padding: 20px 18px !important;
  color: #fff !important;
  border-radius: 10px 10px 0 0;
}

/*-- Text --*/
.nb-form p {
  font-size: 13px;
  margin: 0;
  padding: 15px;
  color: #666;
}

.nb-form p.message {
  margin-left: 7px;
}

/*-- Form Elements --*/
.nb-form form {
  padding: 0 15px 15px 15px;
}

.nb-form input,
.nb-form textarea {
  font-size: 12px;
  width: 254px;
  max-width: 254px;
  margin-bottom: 10px;
  margin-left: 7px;
  padding: 6px;
  border: none;
  border-radius: 4px;
  color: #999;
  border-bottom: 1px solid #f0f0f0;
}

.nb-form input:focus,
.nb-form textarea:focus {
  outline: none;
  box-shadow: none;
}

.nb-form input[type='submit'] {
  display: block;
  width: 120px;
  margin: 0 auto;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  cursor: pointer;
  transition: all .4s ease;
  color: #fff !important;
  border: none;
}

.nb-form textarea {
  min-height: 110px;
}

.nb-form input[type='submit'] {
  background: #ff4600;
}

@media screen and (max-width: 768px) {
  .nb-form {
    display: none;
  }
}
.featured-text {
  font-family: "Oswald";
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  background-color: #273832;
  color: #fff;
  position: absolute;
  top: 22px;
  left: -28px;
  padding: 5px 0;
  width: 126px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.plus {
  transition: all 0.5s ease-in-out 0s;
  -webkit-box-shadow: 8px 11px 14px -1px #ff4600;
  -moz-box-shadow: 8px 11px 14px -1px #ff4600;
  box-shadow: 8px 11px 14px -1px #ff4600;
  overflow: hidden;
  border: 1px solid #ff4600;
}

.ofer {
  height: 75vh;
  width: 100%;
  padding: 100px 0 60px 0;
  background: url("../images/rejetop.jpeg") no-repeat;
  background-position: center;
  background-size: cover;
}
.ofer .pricingTable {
  padding-top: 5px;
  background: #273238;
  text-align: center;
  border-radius: 0 0 12px 12px;
  -webkit-box-shadow: 8px 11px 14px -1px #273238;
  -moz-box-shadow: 8px 11px 14px -1px #273238;
  box-shadow: 8px 11px 29px -1px rgba(0, 0, 0, 0.7);
  transition: all .5s ease-in-out;
}
.ofer .pricingTable .pricingTable-header {
  height: 190px;
  position: relative;
  color: #fff;
  background-color: #ff4600;
  transition: all .5s ease;
}
.ofer .pricingTable .pricingTable-header::after {
  content: '';
  border-bottom: 40px solid #273238;
  border-left: 263px solid transparent;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.ofer .pricingTable .pricingTable-header .heading {
  display: block;
  padding: 20px 0;
}
.ofer .pricingTable .pricingTable-header .heading h3 {
  margin: 0;
  text-transform: uppercase;
}
.ofer .pricingTable .pricingTable-header .price-value {
  display: block;
  font-size: 60px;
  line-height: 60px;
}
.ofer .pricingTable .pricingTable-header .price-value .mo {
  font-size: 14px;
  display: block;
  line-height: 0px;
  text-transform: uppercase;
}
.ofer .pricingTable .pricingTable-header .price-value .currency {
  font-size: 20px;
  margin-right: 4px;
  position: relative;
  bottom: 0px;
}
.ofer .pricingTable .pricingTable-header .price-value .grosze {
  font-size: 18px;
  padding-left: 6px;
  position: relative;
  bottom: 30px;
}
.ofer .pricingTable .pricingContent {
  text-transform: uppercase;
  color: #fff;
}
.ofer .pricingTable .pricingContent ul {
  list-style-type: none;
  padding: 0;
}
.ofer .pricingTable .pricingContent ul li {
  padding: 15px 0;
  border-bottom: 1px solid #ff4600;
}
.ofer .pricingTable .pricingContent ul li:last-child {
  border: none;
}
.ofer .pricingTable-sign-up {
  padding: 30px 0;
}
.ofer .pricingTable-sign-up .btn-block {
  width: 80%;
  margin: 0 auto;
  background: #273238;
  border: 2px solid #ff4600;
  color: #fff;
  padding: 15px 12px;
  text-transform: uppercase;
  font-size: 18px;
  transition: 0.5s;
}
.ofer .pricingTable-sign-up .btn-block:hover, .ofer .pricingTable-sign-up .btn-block:focus {
  color: #ff4600;
}

.ofer-ex {
  padding-top: 50px;
  background-color: #222;
  width: 100%;
}
.ofer-ex .a {
  height: auto;
  padding: 10px 0;
  text-align: center;
  color: #fff;
}
.ofer-ex .a h4 + p {
  text-align: center;
  padding: 0;
  margin: 0;
}

.reje {
  font-size: 14px;
  margin: 6px 0 0 0;
  padding: 8px 15px;
  border: none;
  outline: none;
  background-color: transparent;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  color: #ff4600;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  -webkit-backface-visibility: hidden;
  -webkit-transform: scale(1);
}
.reje:hover, .reje:focus {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  background-color: #ff4600;
  color: #fff;
}

.check {
  padding: 12px 25px;
  border: 1px solid #ff4600;
  outline: none;
  background-color: #ff4600;
  color: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}
.check:hover, .check:focus {
  text-decoration: none;
  background-color: transparent;
  color: #ff4600;
}

.d-check {
  text-decoration: none;
  color: #fff;
  padding: 12px 25px;
  border: 1px solid #ff4600;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}
.d-check:hover, .d-check:focus {
  transition: all .35s;
  color: #ff4600;
  text-decoration: none;
}

@media screen and (max-width: 990px) {
  .pricingTable {
    margin-bottom: 40px;
  }
  .pricingTable .pricingTable-header:after {
    border-left: 349px solid transparent;
  }
}
@media only screen and (min-width: 768px) {
  header .contentH h1 {
    font-size: 100px;
  }
  header .contentH p {
    font-size: 27px;
    padding-bottom: 10px;
  }

  .w-sec {
    text-align: center;
  }

  .d-sec {
    text-align: center;
  }

  .ofer {
    height: auto;
  }
}
@media only screen and (max-device-width: 480px) {
  header .contentH h1 {
    font-size: 60px;
  }
  header .contentH p {
    font-size: 18px;
  }

  .pricingTable {
    overflow: hidden;
  }
  .pricingTable .pricingTable-header:after {
    border-left: 459px solid transparent;
  }

  .ofer {
    height: auto;
  }

  .ofer-ex {
    padding: 10px 0;
  }
  .ofer-ex .a {
    padding: 14px 15px;
  }
}
